@page "/"

<PageTitle>Home</PageTitle>

<div>
    <img style="width:100%; height: 100%" src="https://imgs.search.brave.com/ncQn7qaBEAYU1LEBXuMplnad3UC4zdFOc1bEmGileUE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/Zm90by1ncmF0aXMv/Y29tcG9zaWNpb24t/bGlicm9zLWxpYnJv/LWFiaWVydG9fMjMt/MjE0NzY5MDU1NS5q/cGc_c2l6ZT02MjYm/ZXh0PWpwZw" />
</div>